@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply overflow-hidden h-screen;
    margin: 0;
    padding: 0;
  }

  #root {
    @apply h-screen overflow-hidden;
  }
}

.smooth-scroll {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.bg-hero-gradient {
  background: linear-gradient(135deg, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.horseshoe-collector-icon {
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.1));
}
